body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #32745C;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
}

.intro-text {
    flex: 1;
    margin-right: 20px;
}

.intro-text h2 {
    font-size: 2em;
    color: #B29361;
}

.intro-text p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

.intro-img {
    flex: 1;
}

.intro-img img {
    max-width: 100%;
    border-radius: 10px;
}


/* Seção de serviços */
.services {
    padding: 50px;
    text-align: center;
    background-color: #B29361;
}

.services h2 {
    font-size: 2em;
    color: #EDE4D6;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    margin: 20px;
    max-width: 300px;
}

.service img {
    max-width: 100%;
    border-radius: 10px;
}

.service h3 {
    font-size: 1.5em;
    color: #ffffff;
    margin: 10px 0;
}

.service p {
    font-size: 1.1em;
    color: #000000;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro-text, .intro-img {
        margin: 0;
    }
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 13px;
    background-color: #32745C;
    color: white;
    font-weight: bold; /* Negrito no rodapé */
    padding-inline-end: 50px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold; /* Negrito nos rótulos */
    font-size: 17px; /* Tamanho da fonte aumentado */
    color: #000000; /* Cor dos rótulos */
}

form input, form select, form button { /*estilização formularios consulta*/
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #B29361;
    border-radius: 50px;
}

form button {
    background: #B29361;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #32745C;
}

/* esqueci a senha */

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #058C42;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.back-to-login {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #058C42;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #058C42;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #058C42;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    background-color: #0dcf1a; /* Cor do WhatsApp */
    border-radius: 50%; /* Para deixar o botão redondo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

.whatsapp-button img {
    width: 50px; /* Tamanho do ícone */
    height: 50px; /* Tamanho do ícone */
}

.pers-login{

    justify-self: center;
    padding-top: 150px;
    width: 500px;
    height: 500px;

}

.pers-contato{

    justify-self: center;
    padding-top: 150px;
    width: 500px;
    height: 500px;

}

.pers-cadastro{

    justify-self: center;
    padding-bottom: 200px;
    width: 500px;
    height: 500px;

}*/

.container{

    margin: 10px;
    margin-top: 25px;

}